body {
    background-color: rgb(69, 194, 210);
}


.container {
    max-width: 480px;
    margin: 0 auto;
}


.amarelo {
    padding: 30px;
    margin:  50px;
    background-color: rgb(210, 194, 69);
    box-sizing: border-box;
}


.flexivel {
    display: flex;
}


.crescer {
    padding-bottom: 300px;
}


.crescer2 {


    padding-bottom:150px;
}


.alongar {
    padding-right: 300px;
}


.alongar2 {
    padding-right: 470px;
}
