body {
    background-color: white;
}

.flex{
    display: flex;
}

.azul{
    background-color: blue;
    padding-right: 1000px;
    padding:100px;
}

.amarela{
    background-color: rgb(251, 255, 0);
    padding: 100px;
    margin: 30px;
}
